@font-face {
  font-family: 'Roboto Mono';
  // imported by main so the path is relative to main.scss
  src: url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

// font sizes
$base-font-size: 100%;

$heading-1-font-size: 3.157em;
$heading-2-font-size: 2.369em;
$heading-3-font-size: 1.777em;
$paragraph-large-font-size: 1.333em;
$paragraph-font-size: 1em;

// margins are multipliers of font-sizes
$heading-1-margin: $heading-1-font-size 0 $heading-1-font-size;
$heading-2-margin: $heading-2-font-size 0 $heading-2-font-size;
$heading-3-margin: $heading-3-font-size 0 $heading-3-font-size;
$paragraph-large-margin: $paragraph-large-font-size 0 $paragraph-large-font-size;
$paragraph-margin: $paragraph-font-size 0 $paragraph-font-size;

// line heights are multipliers of font-sizes
$heading-1-line-height: 2;
$heading-2-line-height: 2;
$heading-3-line-height: 2;
$paragraph-large-line-height: 2;
$paragraph-line-height: 2;

// font types
$font-primary: 'Roboto Mono', monospace, sans-serif;

// font weights
$heading-weight: 400;
$body-weight: 300;

// colours
$color-white: #FBFCFC;
$color-white-transparent: rgba(251, 252, 252, 0.3);
$color-grey: #d0d3d4;
$color-black: #242A42;
$color-icky-blue: #5778FF;

// grid system & breakpoints
$grid-cols: 12;
$grid-gutter-margins: 18;
$grid-container-padding: 0 26px;

$grid-breakpoint-sm: 568;
$grid-breakpoint-md: 768;
$grid-breakpoint-lg: 1024;
$grid-breakpoint-xl: 1420;
$grid-breakpoints-map: (
  '-xs': 0,
  '-sm': $grid-breakpoint-sm,
  '-md': $grid-breakpoint-md,
  '-lg': $grid-breakpoint-lg,
  '-xl': $grid-breakpoint-xl
);

//layout

// _menu.scss
//xs
$menu-width-xs: 100%;
$menu-height-xs: 60px;
//md
$menu-height-md: 80px;
//lg
$menu-width-lg: 56px;
$menu-height-lg: 100%;

// _footer.scss
$footer-height-xs: 80px;
