@font-face {
  font-family: 'Roboto Mono';
  // imported by main so the path is relative to main.scss
  src: url('../fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

// font sizes
$base-font-size: 16px;

$heading-1-font-size: 3.998rem;
$heading-2-font-size: 2.827rem;
$heading-3-font-size: 1.999rem;
$paragraph-large-font-size: 1.414rem;
$paragraph-font-size: 1rem;

// font types
$font-primary: 'Roboto Mono', monospace, sans-serif;

// grid system & breakpoints
$grid-cols: 12;
$grid-gutter-margins: 16;
$grid-container-padding: 26px;
$grid-breakpoint-sm: 568;
$grid-breakpoint-md: 768;
$grid-breakpoint-lg: 1024;
$grid-breakpoints-map: (
  '-xs': 0,
  '-sm': $grid-breakpoint-sm,
  '-md': $grid-breakpoint-md,
  '-lg': $grid-breakpoint-lg 
);
