html {
  box-sizing: border-box;
  font-size: $base-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  background: $color-black;
}

#content {
  display: flex;
  height: 100vh;
  transition: height 1000s steps(1);
}

main {
  height: 100%;
}

@include create-media-query($grid-breakpoint-md) {
  main {
    width: calc(100% - #{$menu-width-md});
    margin-left: auto;
  }
}

