html {
  box-sizing: border-box;
  font-size: $base-font-size;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  background: $color-black;
  height: 100%;
}

#content {
  display: flex;
  height: 100%;
}

main {
  font-size: 2rem;
  height: 100%;
}

@include create-media-query($grid-breakpoint-lg) {
  main {
    width: calc(100% - #{$menu-width-md});
    margin-left: auto;
  }
}

