.button {
  padding: 16px 8px;
  max-width: 100%;
  min-width: 200px;
  border-radius: 15px;
  border: solid 4px #FBFCFC;
  color: #FBFCFC;
  background: transparent;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: $color-white-transparent;
}