.container {
  max-width: $grid-breakpoint-lg * 1px;
  padding: $grid-container-padding;
  overflow: auto;
  margin: 0 auto;

  &--fluid {
    margin: 0;
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/**
 * create col classes for each breakpoint (col, col-xs, col-md, col-lg)
 * avoiding nesting .col-* in .row to reduce specificity rating,
 * allowing properties to be easily overidden
 */
@each $modifier, $breakpoint in $grid-breakpoints-map {
  @include create-col-classes($modifier, $grid-cols, $breakpoint);
}