.section {
  display: flex;
  min-height: 100%;
  text-align: center;
  color: $color-white;
}

.section-home {
  background: url('../images/house-splash.jpg') no-repeat center fixed;
  background-size: cover;

  .heading-1 {
    margin: 0;
    position: relative;
    left: 0;
    top: 34%;
  }
}

.section-about {
  .article {
    position: relative;
    top: 15%;
    overflow: auto;
  }
}

.section-skills {
  .article {
    position: relative;
    top: 15%;
    overflow: auto;
  }

  .computer-image {
    margin: 40px auto;
    max-width: 50%;
  }
}

.section-projects {
  text-align: left;
  color: $color-black;
  padding-top: 120px;
  padding-bottom: 40px;
}

.section-contact {
  background: url('../images/train-splash.jpg') no-repeat center fixed;
  background-size: cover;
}

@include create-media-query($grid-breakpoint-lg) {
  .section {
    text-align: left;

    .container {
      margin: 0;
      padding: 0 26px 0 12%;
    }
  } 
}